version: "3"

services:
  app:
    build: .
    image: containrrr/shepherd:master
    environment:
      TZ: 'US/Eastern'
      SLEEP_TIME: '5m'
      FILTER_SERVICES: ''
      VERBOSE: 'true'
      #UPDATE_OPTIONS: '--update-delay=30s'
      #ROLLBACK_OPTIONS: '--rollback-delay=0s'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      placement:
        constraints:
        - node.role == manager
